<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <h2>Charles Babbage</h2>
<img style="float:left; margin: 10px; " src="/img/Charles Babbage.jpg" width="450" HSPACE="200" VSPACE="20" alt="Charles Babbage">
<h5><br></h5>
<p class="miP">Babbage intentó encontrar un método por el cual se pudieran hacer cálculos automáticamente por una máquina, eliminando errores debidos a la fatiga o aburrimiento que sufrían las personas encargadas de compilar las tablas matemáticas de la época. Esta
    idea la tuvo en 1812.</p>
<a href="/">HOME</a>
<br>
<a href="https://es.wikipedia.org/wiki/Charles_Babbage" target="_blank">wikipedia</a>
</body>
</html>
