<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <h2>Tim Berners-Lee</h2>
<img style="float:left; margin: 10px; " src="/img/Tim Berners-Lee.jpg"width="450" HSPACE="200" VSPACE="20" alt="Tim Berners-Lee">
<h5><br></h5>
<p class="miP">Timothy "Tim" John Berners-Lee, conocido como Tim Berners-Lee, es un científico de la computación británico, conocido por ser el padre de la World Wide Web. Estableció la primera comunicación entre un cliente y un servidor usando el protocolo HTTP en diciembre de 1990</p>
<a href="/">HOME</a>
<br>
<a href="https://es.wikipedia.org/wiki/Tim_Berners-Lee" target="_blank">wikipedia</a>
</body>
</html>
