<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <h2 >Ada Lovelace</h2>
<img style="float:left; margin: 10px; " src="/img/Ada Lovelace.jpg"width="450" HSPACE="450" VSPACE="20" alt="Ada Lovelace">
<h5><br></h5>
<p class="miP">Augusta Ada King, condesa de Lovelace estuvo registrada al nacer como Augusta Ada Byron y conocida habitualmente como Ada Lovelace, fue una matemática y escritora británica, célebre sobre todo por su trabajo acerca de la calculadora de uso general de Charles Babbage, la denominada máquina analítica.</p>
<a href="/">HOME</a>
<br>
<a href="https://es.wikipedia.org/wiki/Ada_Lovelace" target="_blank">wikipedia</a>
</body>
</html>
