<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
  <h2 >Alan Turing</h2>
<img style="float:left; margin: 10px; " src="/img/Alan Turing.jpg"width="450" HSPACE="450" VSPACE="20" alt="Alan Turing">
<h5><br></h5>
<p class="miP">Alan Mathison Turing, fue un matemático, lógico, informático teórico, criptógrafo, filósofo, biólogo teórico, maratoniano y corredor de ultradistancia británico.​​​​​Es considerado uno de los padres de la ciencia de la computación y precursor de la informática moderna.</p>
<a href="/">HOME</a>
<br>
<a href="https://es.wikipedia.org/wiki/Alan_Turing" target="_blank">wikipedia</a>  
</body>
</html>
